# Ignoring common files and folders globally
.env
**__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
commands.md

# Ignoring specific files and directories related to the project
.DS_Store
download_models.sh/
backend/faiss_store/
backend/chroma_store/
backend/app/rag/
backend/app/config.py
infra/backend/
infra/frontend/

# frontend Ignored files
node_modules/
frontend/node_modules/
package-lock.json
package.json
frontend/env.d.ts
